<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="big-bg">
      <header class="page-header wrapper">
        <div class="header-logo">
          <% if @current_user %>
            <%= link_to("TweetApp", "/posts/index") %>
          <% else %>
            <%= link_to("TweetApp", "/") %>
          <% end %>
        </div>
          <nav>
            <ul class="main-nav">
              <% if @current_user %>
                <li>
                  <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
                </li>
                <li>
                  <%= link_to("Posts List", "/posts/index") %>
                </li>
                <li>
                  <%= link_to("New Post", "/posts/new") %>
                </li>
                <li>
                  <%= link_to("Logout", "/logout", {method: :post})%>
                </li>
              <% else %>
                <li>
                  <%= link_to("Signup", "/signup") %>
                </li>
                <li>
                  <%= link_to("Login", "/login") %>
                </li>
              <% end %>
            </ul>
          </nav>
        </header>
        <%= yield %>
    </div>
  </body>
</html>
